*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family: "Domine", serif;
  font-size: 14px;
}

body {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: black;
  padding-left: 0.75rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: rgb(255, 29, 29);
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.main {
  height: 300px;
}

.main h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.main h2 {
  text-transform: lowercase;
  font-size: 32px;
  color: grey;
}

span {
  font-family: 'Libre Baskerville', serif;
}

.team {
  height: 500px;
  width: 100%;
  display: flex;
  font-size: 24px;
  text-align: center;
}

.member, .image {
  background-size: cover;
  background-position: center;
}

.member {
  flex: 1 20px;
  padding-top: 30px;
  color: rgb(106, 106, 106);
}

.one {
  background-image: url("https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/24652781/Dylan_Jadeja.jpg?quality=90&strip=all&crop=23.191300488238,4.5565006075334,55.148690634709,75.48602673147");
}

.two {
  background-image: url("https://blogs-images.forbes.com/johngaudiosi/files/2012/08/BrandonBeck.jpg");
  color: black;
}

.three {
  background-image: url("https://www.riotgames.com/darkroom/630/7d62f4d9b92d82331c3c5adb8f713ba3:932740297ff00b52bafbf81ca24795fe/emily-winkle-1.jpg");
}

.four {
  background-image: url("https://m.media-amazon.com/images/M/MV5BYTFjZDljYjgtYmMzZC00MGM4LWIzZWItYjkxMGJkMWRmMjdkXkEyXkFqcGc@._V1_.jpg");
  color: black;
}

.work {
  display: flex;
  justify-content: space-between;
}

.our-work h2 {
  text-align: right;
}

.container {
  width: 33%;
}

.image {
  height: 255px;
}

.container p {
  font-size: 4rem;
  font-style: italic;
  color: rgb(123, 123, 123);
  position: relative;
  top: -45px;
  height: 15%;
}

.first {
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/14812.jpg");
}

.second {
  background-image: url("https://displays.riotgames.com/static/content-original-championillustrations-group-slashes-9828cf13cecf88fb9f21ee17afa6874e.jpg");
}

.third {
  background-image: url("https://wiki.play2xko.com/en-us/images/2XKO_Cover.jpg?302f5");
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(67, 67, 67);
  color: rgb(77, 77, 77);
  margin-top: 80px;
  padding-top: 50px;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  height: 50px;
}

footer a:hover {
  color: rgb(58, 58, 58);
  text-decoration: underline;
}

.footer-content {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-button-copyright {
  width: 27%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-button {
  font-size: 0.8rem;
  padding: 1em 2em;
  border-radius: 1.5rem;
  color: rgb(255, 255, 255);
  background: white;
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  text-align: right;
  color: lightgrey;
}