*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
}

body {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: brown;
  padding-left: 0.75rem;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
}

nav a:hover {
  color: blueviolet;
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.section1 {
  height: 300px
}

.section1 h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.section1 h2 {
  text-transform: uppercase;
  font-size: 32px;
  color: gray;
}

span {
  font-family: 'Courier New', Courier, monospace;
}

.section2 {
  height: 500px;
  width: 100%;
  display: flex;
  font-size: 24px;
  text-align: center;
}

.showcase, image {
  background-size: cover;
  background-position: center;
}

.showcase {
  flex: 1 20px;
  padding-top: 30px;
  color: black;
}

.one {
  background-image: ;
}

.two {
  background-image: ;
}

.three {
  background-image: ;
}

.four {
  background-image: ;
}
