*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
}

body {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: brown;
  padding-left: 0.75rem;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
}

nav a:hover {
  color: blueviolet;
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

section1 {
  
}